@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    color: #0F1F1C;
}

.none {
    display: none !important;
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}


.container-right {
    padding-left: calc( (100% - var(--container-width)) / 2 + var(--container-padding) );
}

.header {
    min-height: 940px;
    padding-top: 44px;
    background: linear-gradient(154deg, #428E5F 0%, #112120 100%), #204434;
    color: white;
    position: relative;
    overflow: hidden;
}

.header::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 12%;

    background-image: url("./../img/header/header-bottom.svg");
    background-size: 100%;
    
    pointer-events: none;
}

.header a {
    color: white;
}

.header__top {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 86px;
}

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 80px;
    position: relative;
}

.nav__list .active::after{
    content: "";
    display: block;
    opacity: 0.7;
    position: absolute;
    top: 22px;
    width: 35px;
    height: 4px;
    background-color: #C4C4C4;
    border-radius: 100px;
}

.nav__login {
    display: flex;
    column-gap: 25px;
}

.nav__login li a{
    white-space: nowrap;
}

.nav__btn {
    padding: 13px 44px;
    border-radius: 100px;
}

.logo {
    font-weight: 700;
    font-size: 20px;
}

.btn {
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #FFF;
    border-radius: 27px;
}

.header__row {
    display: flex;
}

.header__content {
    max-width: 592px;
	position: relative;
    z-index: 1;
}

.header__badge {
    display: inline-block;
    padding: 12px 30px;

    font-size: 18px;
    font-weight: 500;

    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    
}

.header__caption {
    font-size: 55px;
    font-weight: 400;

    margin-top: 7px;
    margin-bottom: 30px;
}

.header__text {
    font-size: 25px;
    font-weight: 700;
    opacity: 0.5;

    max-width: 500px;
}

.header__btn {
    display: inline-block;

    font-size: 25px;
    font-weight: 600;

    margin-top: 68px;
    padding: 26px 52px;
}

.header__img {
	position: relative;
	flex-grow: 1;
}

.img-woman {
	position: absolute;
	top: -181px;
	right: -87px;

	max-width: unset;
	width: 894px;
	height: 940px;
    pointer-events: none;
}

#el-1 {
    position: absolute;
    pointer-events: none;
}

#el-2 {
    position: absolute;
    left: -140px;
    bottom: -50px;
    pointer-events: none;
}

#el-3 {
    position: absolute;
    right: 10px;
    top: 40px;
    pointer-events: none;
}

#el-4 {
    position: absolute;
    right: -40px;
    bottom: -70px;
    pointer-events: none;
}



.destination {
    margin-top: 120px;
}

.destination__row {
    display: flex;
	column-gap: 50px;
}

.destination__content {
    font-size: 25px;
    font-weight: 500;
    max-width: 456px;
}

.destination__content p {
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 60px;
}

.destination__caption h3 {
    font-size: 30px;
    font-weight: 600;
}

.destination__caption h2 {
    font-size: 55px;
    font-weight: 600;
}

.destination__btn {
    display: inline-block;
    padding: 25px 45px;
}


.destination__slider {
	width: 1110px;
	flex-shrink: 0;
}

.slider {
	position: relative;
	height: 456px;
}

.slider__item {
    width: 335px;
    height: 402px;
    border-radius: 35px;
    object-fit: cover;
    transition: 0.5s ease-in;
    margin-top: 27px;
}

.slider .center .slider__item {
    width: 380px;
    height: 456px;
    margin-top: 0px;
}

.slider__btn {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: linear-gradient(172deg, #FF7B4E 0%, #FF584E 100%), #8B8B8B;

    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider__btn--prev {
    left: -30px;
}

.slider__btn--next {
    right: -30px;
}



.customers {
    margin-top: 191px;
}

.customers__content {
    display: flex;
}

.customers__img {
    border-radius: 60px;
}

.customers__feedback {
    margin-left: 68px;
    width: 570px;
}

.customers__caption {
    font-size: 45px;
    font-weight: 500;
}

.customers__user {
    margin-top: 35px;
    display: flex;
    align-items: center;
}

.customers__user-avatar-background {
    width: 134px;
    height: 134px;
    border-radius: 71.5px;
    background: #ff7458;
}

.customers__user-avatar {
    border-radius: 50%;
}   

.customers__user-info {
    margin-left: 31px;
}

.customers__username {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 8px;
}

.customers__geo {
    font-size: 25px;
    font-weight: 400;
    opacity: 0.5;
}

.customers__text {
    font-size: 22px;
    font-weight: 500;
    opacity: 0.5;
    width: 490px;
    margin-top: 60px;
    margin-bottom: 35px;
}

.cta {
    margin-top: 233px;
}

.cta__bg {
    width: 1200px;
    height: 580px;
    background-color: white;
    border-radius: 60px;
    position: relative;
}

.cta__card {
    width: 750px;
    margin: 0 262px;
    vertical-align: middle;
    text-align: center;
    padding-top: 115px;
}

.cta__caption {
    margin: 0 auto;
    width: 519px;
    font-size: 45px;
    font-weight: 500;
}

.cta__text {
    font-size: 30px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 30px;
}

.cta__btn {
    margin-top: 60px;
    padding: 25px 55px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

#cta-el-01 {
    position: absolute;
    left: 74px;
    bottom: 56px;
}

#cta-el-02 {
    position: absolute;
    right: 80px;
    top: 74px;
}

.cta__subscribe {
    margin-top: 135px;
}

.cta__sub__caption {
    text-align: center;
    font-size: 55px;
    font-weight: 600;
}

.cta__input__wrapper {
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 129px;
    border-radius: 35px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #C4C4C4;
}

.cta__input {
    padding-left: 46px;
    font-size: 24px;
    font-weight: 500;
    width: 450px;
}

::-webkit-input-placeholder {
    font-size: 24px;
    font-weight: 500;
    opacity: 0.5;
    float: left;
}

.cta__sub__btn {
    margin: 12px 15px;
    padding: 34px 88px;
    font-size: 25px;
    font-weight: 600;
}



.footer {
    margin-top: 116px;
    margin-bottom: 74px;
}

.footer a {
    color: #838B89;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}

.footer__logo a {
    color: #FF7C4E;
    font-size: 20px;
    font-weight: 700;
}

.footer__list {
    display: flex;
    column-gap: 80px;
    position: relative;
}

.footer__login {
    display: flex;
    column-gap: 66px;
}

.footer__login li:last-child a{
    color: white;
}

.footer__btn {
    padding: 13px 44px;
}